extends layout
 
block content
  .container.main-container 
    .row
      .col-12 
        a(href="/")
          h1.p-4.color-1 Emas
            | 
            span.color-2 Dev
      .col-6
        h2.color-5 Páginas Web y Programación. 
        p.mt-3.color-4 Se utiliza la tecnología de 
          a(href="https://cloud.google.com/").color-3 Google Cloud

      .col-6
        ul.list.text-start
          li
            a(href="/developer").color-3 Desarrollo Web 
          li
            a(href="/development").color-1 Métodos para mejorar la calidad de la atención
          li
            a(href="/devenir").color-1 Clases y Cursos

        
        
        
        