extends layout
 
block content
  .container.main-container 
    .row
      .col-12 
        a(href="/")
          h1.p-4.color-1 Emas
            | 
            span.color-2 Dev
      .col-6
        h2.color-5 En construcción. 
        p.mt-3.color-4 Checa mi canal en  
          a(href="https://www.youtube.com/channel/UCOSIZrn6TrAEi5g8CjpbwNA").color-3 youtube

      .col-6
        ul.list.text-start
          li
            a(href="/developer").color-1 Desarrollo Web 
          li
            a(href="/development").color-1 Métodos para mejorar la calidad de la atención
          li
            a(href="/devenir").color-3 Clases y Cursos

        
        
        
        