extends layout
 
block content
  .container.main-container 
    .row
      .col-12 
        a(href="/")
          h1.p-4.color-1 Emas
            | 
            span.color-2 Dev
      .col-6
        h3.color-5 Respira, Medita, Alerta, Al asecho. Consciente. Presente. Siente.
        p.mt-3.color-4 Se utiliza la tecnología de 
          a(href="https://www.instagram.com/tv/CPllkFwjAZN/?utm_source=ig_web_copy_link").color-3 Respirar

      .col-6
        ul.list.text-start
          li
            a(href="/developer").color-1 Desarrollo Web 
          li
            a(href="/development").color-3 Métodos para mejorar la calidad de la atención
          li
            a(href="/devenir").color-1 Clases y Cursos

        
        
        
        