doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    meta(lang='es')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // The core Firebase JS SDK is always required and must be listed first
    script(src='https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js')
    //
      TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries
    script(src='https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js')

  body
    .container
      main.m-3 
        block content
    script(src='/js/jquery.min.js')
    script(src='/js/popper.js')
    script(src='/js/bootstrap.min.js')
    script(src='/javascripts/auth.js')
