doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    meta(lang='es')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      main.m-3 
        block content
    script(src='/js/jquery.min.js')
    script(src='/js/popper.js')
    script(src='/js/bootstrap.min.js')
