extends layout

block content
  .container 
    .row
      .col-6.m-auto
        .card
          .card-body
             form(action='user/login' method='POST')#login
              .container
                .row
                  h2 Acceder con su cuenta de IDM Cloud
                  .col-12
                    .form-group
                      label(for='login-email') Email
                      input#login-email.form-control(type='email')
                      small.form-text.text-muted Inicie sesión con su correo vinculado a IDM Cloud.
                  .col-12
                    .form-group
                      label(for='login-password') Contraseña
                      input#login-password.form-control(type='password')
                  .col-12.mt-3 
                    .form-group.text-center
                      button.btn.btn-primary(type='submit')#login-btn Acceder
                  




