html,
body {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000100;
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #7ae582;
}

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.list li {
  padding-top: 1rem;
}

.color-2 {
  color: #004e64;
}

.color-1 {
  color: #00a5cf;
}

.color-3 {
  color: #9fffcb;
}

.color-4 {
  color: #25a18e;
}

.color-5 {
  color: #7ae582;
}
